code {
    white-space: pre;
} 

td, th { 
    padding-left: 5px;
	padding-right: 5px;
}

 /* source tabela */

a {
	text-decoration: none;
}

a:visited {
	color: #0000FF;
}

.linenum {
	font-style: italic;
}

.infobutton {
	width: 30px; 
	height: 20px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}

#content {
	position:absolute;
	padding-top: 20px;
	padding-bottom: 20px;
	left:25vh;
}

 /* potpis */
 
.divsignature {
	padding-top: 20px;
	padding-bottom: 20px;
	font-style: bold;
	width: inherit;
}

 /* overview tabela */

.divoverview {
	padding: 20px 8%;
}

.elementname {
	min-width: 250px;
	max-width: 250px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.typename {
	min-width: 80px;
	max-width: 80px;
}

.fractioncell, .percentagecell {
	text-align: right;
}

.redbar {
	height: 20px;
	width: 100px;
	border-radius: 4px;
}

.greenbar {
	height: 100%;
	border-radius: inherit;
}

.notpassed , .redbar {
    background-color: #EDA6A6;
} 
.passed,  .greenbar {
    background-color: #9ED468;
} 

